.announcementsPage {
  margin-left: 16rem;
  padding: 20px;
}

.announcementForm {
  max-width: 40rem;
  margin: 0 auto;
  border: solid 1px #287bc9;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}